<div class="mt-4 ml-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>